# Python cache and temporary files
__pycache__
*.pyc
*.pyo
*.pyd
.Python
.cache

# Python virtual env
env

# Files with log extension
*.log

# Git files and meta
.git

# Directories which are not necessary inside the image
tests
docs