language: python
python:
  - "2.7"
install:
    - pip install -r requirements.txt
    - pip install pytest-cov
script: py.test --cov=dnstwister --cov-config .coveragerc
after_success:
    - pip install python-coveralls
    - coveralls
