[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
csscompressor = "*"
"beautifulsoup4" = "*"
blinker = "*"
colorama = "*"
Flask-WebTest = "*"
fakeredis = "==0.9.0"
funcsigs = "*"
httpretty = "*"
"js2py" = "==0.63"
mock = "*"
pbr = "*"
py = "*"
pytest = "*"
pyyaml = "*"
six = "*"
watchdog = "*"
WebOb = "*"
WebTest = "*"
pytest-cov = "*"
coverage = "*"
python-coveralls = "*"

[packages]
dnspython = "==1.15.0"
idna = "==2.7"
"psycopg2" = "==2.7.3.2"
python-whois = "==0.6.5"
redis = "==2.10.6"
requests = "==2.20.1"
sendgrid = "==2.2.1"
waitress = "==1.1.0"
"zope.interface" = "==4.3.2"
flask = "==1.0.2"
flask-caching = "==1.7.1"

[requires]
python_version = "2.7.16"
