[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
csscompressor = "==0.9.5"
"beautifulsoup4" = "==4.6.0"
blinker = "==1.4"
colorama = "==0.3.9"
Flask-WebTest = "==0.0.9"
fakeredis = "==0.9.0"
funcsigs = "==1.0.2"
httpretty = "==0.8.14"
mock = "==2.0.0"
pbr = "==3.1.1"
py = "==1.4.31"
pytest = "==3.0.3"
six = "==1.11.0"
watchdog = "==0.9.0"
WebOb = "==1.7.4"
WebTest = "==2.0.29"

[packages]
dnspython = "==1.15.0"
idna = "==2.7"
"psycopg2" = "==2.7.3.2"
python-whois = "==0.6.5"
redis = "==2.10.6"
requests = "==2.20.1"
sendgrid = "==2.2.1"
waitress = "==1.1.0"
Flask = "==0.12.4"
Flask-Cache = "==0.13.1"
"zope.interface" = "==4.3.2"

[requires]
python_version = "2.7"
