{% extends "www/layout.html" %}
{% block title %}Domain analysis{% endblock %}
{% block head %}
        <script type="text/javascript" src="{{ url_for('static', filename='analyse.min.js') }}"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='analyse.min.css') }}">
{% endblock %}
{% block header %}
        <h2>Domain analysis</h2>
        <h5>Use these tools to safely analyse {{ domain }}</h5>
{% endblock %}
{% block body %}
        <section class="local_tools">
            <div class="row">
                <div class="one-half column analysis_tool" data-id="parked" data-hexdomain="{{ hexdomain }}">
                    <h5>Parked domains</h5>
                    <p>
                        Often domains are "registered" by domain registrars to drive
                        sales when users mistype URLs.
                    </p>
                    <input type="button" value="Check" />
                    <div class="result" style="display:none"></div>
                </div>
                <div class="one-half column analysis_tool" data-id="gsb" data-hexdomain="{{ hexdomain }}">
                    <h5>Google Safe Browsing</h5>
                    <p>
                        Google Safe Browsing maintains a list of reported
                        phishing sites and sites that host malware or unwanted
                        software.
                    </p>
                    <input type="button" value="Check" />
                    <div class="result" style="display:none"></div>
                </div>
            </div>
        </section>
        <hr />
        <section style="text-align:center">
            <h5>
                We'll be adding more tools over time.
            </h5>
            <p>

                If you have any suggestions
                <a href="mailto:hello@dnstwister.report">we'd love to hear from you</a>.

            </p>

        </section>
{% endblock %}
