{% extends "www/layout.html" %}
{% block title %}Domain analysis{% endblock %}
{% block head %}
        <script type="text/javascript" src="{{ url_for('static', filename='analyse.min.js') }}"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='analyse.min.css') }}">
{% endblock %}
{% block header %}
        <h2>Domain analysis</h2>
        <h3>{{ domain }}</h3>
{% endblock %}
{% block body %}
        <section>
            <p>
                There are a number of tools available to analyse this domain,
                use one or more as necessary.
            </p>
        </section>
        <section class="analysis_tool" data-id="parked" data-hexdomain="{{ hexdomain }}">
            <h5>Parked domains</h5>
            <p>
                Often domains are "registered" by domain registrars to drive
                sales when users mistype URLs.
            </p>
            <input type="button" value="Check" />
            <span class="result" style="display:none"></span>
        </section>
{% endblock %}
