{% extends "www/layout.html" %}
{% block title %}Domain analysis{% endblock %}
{% block head %}
        <script type="text/javascript" src="{{ url_for('static', filename='analyse.min.js') }}"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='analyse.min.css') }}">
{% endblock %}
{% block header %}
        <h2>Domain analysis</h2>
        <h5>Use these tools to safely analyse <strong>{{ domain | domain_renderer }}</strong>.</h5>
{% endblock %}
{% block body %}
        <section class="local_tools">
            <div class="row">
                <div class="twelve column analysis_tool" data-id="parked" data-hexdomain="{{ hexdomain }}">
                    <h5>Parked domains</h5>
                    <p>
                        Often domains are "registered" by domain registrars to drive
                        sales when users mistype URLs.
                    </p>
                    <input class="tool" type="button" value="Check" />
                    <div class="result" style="display:none"></div>
                </div>
            </div>
            <div class="row">
                <div class="twelve column whois_tool">
                    <h5>WHOIS lookup</h5>
                    <p>

                        Perform a WHOIS lookup for <strong>{{ domain | domain_renderer }}</strong> - this will
                        often return information about the domain owner.

                    </p>
                    <input id="whois_lookup" class="tool" type="button" value="Perform WHOIS" data-hexdomain="{{ hexdomain }}" />
                    <pre class="result" style="display:none"></pre>
                </div>
            </div>
        </section>
        <hr />
        <section style="text-align:center">
            <h4>
                Highly-recommended third-party tools
            </h4>
            <a target="_blank" href="https://github.com/elceef/dnstwist">dnstwist</a> |
            <a target="_blank" href="http://osintframework.com/">OSINT Framework</a> |
            <a target="_blank" href="https://mxtoolbox.com/">MxToolBox</a>
        </section>
        <hr />
        <section style="text-align:center">
            <p>

                If you have any suggestions for domain-analysis tools we can
                include or link to
                <a href="mailto:hello@dnstwister.report">we'd love to hear from you</a>.

            </p>

        </section>
{% endblock %}
