{% extends "www/layout.html" %}
{% set hide_logo = True %}
{% block title %}Domain name permutation service{% endblock %}
{% block head %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.min.css') }}">
{% endblock %}
{% block header %}
            <h1>dnstwister</h1>
            <p>The simple and fast domain name permutation engine</p>
{% endblock %}
{% block body %}
        <section class="searchbox">
            <form action="/search" method="post" autocomplete="off">
                <div class="row">
                    <div class="ten columns offset-by-one input_field">
                        <input type="text" autocapitalize="none" name="domains" placeholder="Enter a domain" class="u-full-width" {% if suggestion is not none %}value="{{ suggestion }}"{% endif %} />
                    </div>
                    <div class="one columns submit">
                        <input type="submit" value="Search &#128270;" class="button-primary" alt="search" />
                    </div>
                    <div class="ten columns offset-by-one">
                        {% if error is not none %}
                            <section class="error">
                                {{ error }}
                                {% if suggestion is not none %}
                                    Did you mean something like "{{ suggestion }}"?
                                {% endif %}
                            </section>
                        {% endif %}

                        <div class="help">
                            Would you like some <a href="/help">help</a>?
                        </div>
                    </div>
                </div>
            </form>
        </section>
{% endblock %}
