{% extends "www/layout.html" %}
{% block title %}Domain name permutation service{% endblock %}
{% block head %}
    <noscript id="deferred-styles">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.min.css') }}">
    </noscript>
    <script>
      var loadDeferredStyles = function() {
        var addStylesNode = document.getElementById("deferred-styles");
        var replacement = document.createElement("div");
        replacement.innerHTML = addStylesNode.textContent;
        document.body.appendChild(replacement)
        addStylesNode.parentElement.removeChild(addStylesNode);
      };
      var raf = requestAnimationFrame || mozRequestAnimationFrame ||
          webkitRequestAnimationFrame || msRequestAnimationFrame;
      if (raf) raf(function() { window.setTimeout(loadDeferredStyles, 0); });
      else window.addEventListener('load', loadDeferredStyles);
    </script>
{% endblock %}
{% block header %}
            <h1>dnstwister</h1>
            <p>The simple and fast domain name permutation engine</p>
{% endblock %}
{% block body %}
        <section class="searchbox">
            <form action="/search" method="post">
                <div class="row">
                    <div class="ten columns offset-by-one input_field">
                        <input type="text" autocapitalize="none" name="domains" placeholder="Enter one or more domains" class="u-full-width" />
                    </div>
                    <div class="one columns submit">
                        <input type="submit" value="&#128270;" class="button-primary" alt="search" />
                    </div>
                    <div class="twelve columns">
                        {% if error is not none %}
                            <section class="error">
                                {{ error }}
                            </section>
                        {% endif %}
                        <div class="help">
                            Would you like some <a href="/help">help</a>?
                        </div>
                    </div>
                </div>
            </form>
        </section>
{% endblock %}
