<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>dnstwister | {% block title %}{% endblock %}</title>
        <meta name="description" content="Domain name permutation engine, based on dnstwist.">
        <meta name="author" content="Robert Wallhead">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <div class="section">
            <div class="container">
                <header>
                    {% if not hide_logo %}
                        <a alt="home" href="/"><img class="logo" src="{{ url_for('static', filename='logo.png') }}" /></a>
                    {% endif %}
                    {% block header %}
                    {% endblock %}
                </header>
                {% block body %}
                {% endblock %}
                <footer>
                    <p>
                        <strong>dnstwister</strong> was created by
                        <a href="https://about.me/robertwallhead" rel="noopener" target="_blank">Robert Wallhead</a>
                        and takes advantage of the excellent
                        <a href="https://github.com/elceef/dnstwist" rel="noopener" target="_blank">dnstwist</a>
                        library.
                    </p>
                    <p>
                        <a href="https://github.com/dnstwister/dnstwister/issues" rel="noopener" target="_blank">report bugs</a>
                        <a href="https://github.com/dnstwister/dnstwister" rel="noopener" target="_blank">source code</a>
                        <a href="/api">api</a>
                    </p>
                </footer>
            </div>
        </div>
    </body>
</html>
