{% extends "www/layout.html" %}
{% block title %}Report{% endblock %}
{% block head %}
        <script type="text/javascript" src="{{ url_for('static', filename='report.min.js') }}"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='report.min.css') }}">
{% endblock %}
{% block header %}
        <h1>dnstwister report</h1>
{% endblock %}
{% block body %}
        <section class="domains">
            {% for (domain, domain_encoded) in atoms.items() %}
                <div class="domain_nav">
                    <a alt="email alert subscribe link" title="subscribe to email alerts" href="/email/subscribe/{{ domain_encoded }}"><img class="ico" src="/static/email.png"/></a>
                    <h5>{{ domain | domain_renderer }}</h5>
                </div>
            {% endfor %}
            <div style="clear: both"></div>
        </section>
        <section class="sub_nav">
            <a href="/">new search</a>
        </section>
        <section class="progress">
            <p>
                Attempting to resolving domains (up to 10 seconds per domain):
                <span class="resolved_count">0</span>/<span class="resolved_total"></span>
            </p>
        </section>
        <section>
            <button id="show_all">Show/hide unresolved domains</button>
            <section class="exports">
                export:
                {% for (title, format) in exports.items() %}
                    <a href="/search/{{ domain_encoded }}/{{ format }}">{{ title }}</a>
                {% endfor %}
            </section>
        </section>
        <section>
            <table class="report u-full-width">
                <thead>
                    <tr>
                        <th>Tweak</th>
                        <th>Type</th>
                        <th>IP</th>
                        <th>Tools</th>
                    </tr>
                </thead>
                <tbody>
                    {% for (domain, data) in reports.items() %}
                        {% for entry in data.fuzzy_domains %}
                            <tr class="domain-row">
                                <td>{{ entry['domain-name'] | domain_renderer }}</td>
                                <td>{{ entry.fuzzer }}</td>
                                <td class="resolvable" data-hex="{{ entry.hex }}" data-ip="{{ entry.ip }}">...</td>
                                <td class="tools">
                                    <a href="/analyse/{{ entry.hex }}">analyse</a>
                                    <a class="deep-search" href="/search/{{ entry.hex }}">&#128270;</a>
                                    <a href="/email/subscribe/{{ entry.hex }}"><img class="ico mini" src="/static/email.png"/></a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        </section>
{% endblock %}
