{% extends "www/layout.html" %}
{% block title %}Report{% endblock %}
{% block head %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='status.min.css') }}">
{% endblock %}
{% block header %}
        <h1>dnstwister status</h1>
        {% if summary %}
            <h3 class="summary okay">All systems operating normally</h3>
        {% else %}
            <h3 class="summary error">One or more issues detected</h3>
        {% endif %}
{% endblock %}
{% block body %}
        <section class="details">
            <table class="u-full-width">
                <thead>
                    <tr>
                        <th>System</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for system, status in statuses %}
                        <tr class="{{ 'error' if not status }}">
                            <td>{{ system }}</td>
                            {% if status %}
                                <td>OK</td>
                            {% else %}
                                <td>Issue detected</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
{% endblock %}
