{% extends "www/layout.html" %}
{% block title %}Pending verification{% endblock %}
{% block head %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='email.min.css') }}">
{% endblock %}
{% block header %}
        <h1>Thank you!</h1>
{% endblock %}
{% block body %}
        <section>
            <p>Click the link in your verification email to confirm your subscription for <strong>{{ domain | domain_renderer }}</strong>.</p>
            <p>Please ensure you can receive emails from <strong>alerts@dnstwister.report</strong>.</p>
        </section>
{% endblock %}
