<style type="text/css">
    td,th {
        padding-right: 10px;
        text-align: left;
    }
</style>
<h1>dnstwister report for '{{ domain | domain_format }}'</h1>
<p>
    <a href="{{ unsubscribe_link }}">Unsubscribe</a>
</p>
{% if report.new %}<h2>New registrations ({{ report.new | count }})</h2>
<table>
    <thead>
        <tr>
            <th>Domain</th>
            <th>IP address</th>
            <th>Tools</th>
        </tr>
    </thead>
    <tbody>{% for (dom, ip) in report.new | sort %}
        <tr>
            <td>
                {{ dom | domain_format }}
            </td>
            <td>{{ ip }}</td>
            <td><a href="{{ dom | analysis_url }}">analyse</a></td>
        </tr>{% endfor %}
    </tbody>
</table>
{% endif %}{% if report.updated %}<h2>Updated registrations ({{ report.updated | count }})</h2>
<table>
    <thead>
        <tr>
            <th>Domain</th>
            <th>Old IP address</th>
            <th>New IP address</th>
            <th>Tools</th>
        </tr>
    </thead>
    <tbody>{% for (dom, old_ip, new_ip) in report.updated | sort %}
        <tr>
            <td>
                {{ dom | domain_format }}
            </td>
            <td>{{ old_ip }}</td>
            <td>{{ new_ip }}</td>
            <td><a href="{{ dom | analysis_url }}">analyse</a></td>
        </tr>{% endfor %}
    </tbody>
</table>
{% endif %}{% if report.deleted %}<h2>Deleted registrations ({{ report.deleted | count }})</h2>
<table>
    <thead>
        <tr>
            <th>Domain</th>
        </tr>
    </thead>
    <tbody>{% for dom in report.deleted | sort %}
        <tr>
            <td>
                {{ dom | domain_format }}
            </td>
        </tr>{% endfor %}
    </tbody>
</table>
{% endif %}{%if report.noisy %}<h2>Noisy domains ({{ report.noisy | count }})</h2>
<p>
    The following domains continually change IP or fail then succeed IP
    resolution. We'll only send you these once a week.
</p>
<table>
    <thead>
        <tr>
            <th>Domain</th>
            <th>Tools</th>
        </tr>
    </thead>
    <tbody>{% for dom in report.noisy | sort %}
        <tr>
            <td>
                {{ dom | domain_format }}
            </td>
            <td><a href="{{ dom | analysis_url }}">analyse</a></td>
        </tr>{% endfor %}
    </tbody>
</table>
{% endif %}<p>
    <a href="{{ unsubscribe_link }}">Unsubscribe</a>
</p>
