<h1>dnstwister report for <strong>{{ domain | domain_renderer }}</strong></h1>
<p>
    <strong>NEW: dnstwister now supports Unicode domains.</strong>
</p>
<p>
    <a href="{{ unsubscribe_link }}">Unsubscribe</a>
</p>
{% if new %}<h2>New registrations</h2>
<table>
    <thead>
        <tr>
            <th>Registered Domain</th>
            <th>Resolved IP</th>
            <th>Tools</th>
        </tr>
    </thead>
    <tbody>{% for (dom, ip, analysis_link) in new | sort %}
        <tr>
            <td>
                {{ dom | domain_renderer }}
            </td>
            <td>{{ ip }}</td>
            <td><a href="{{ analysis_link }}">analyse</a></td>
        </tr>{% endfor %}
    </tbody>
</table>
{% endif %}{% if updated %}<h2>Updated registrations</h2>
<table>
    <thead>
        <tr>
            <th>Registered Domain</th>
            <th>Previously Resolved IP</th>
            <th>Currently Resolved IP</th>
            <th>Tools</th>
        </tr>
    </thead>
    <tbody>{% for (dom, old_ip, new_ip, analysis_link) in updated | sort %}
        <tr>
            <td>
                {{ dom | domain_renderer }}
            </td>
            <td>{{ old_ip }}</td>
            <td>{{ new_ip }}</td>
            <td><a href="{{ analysis_link }}">analyse</a></td>
        </tr>{% endfor %}
    </tbody>
</table>
{% endif %}{% if deleted %}<h2>Deleted registrations</h2>
<table>
    <thead>
        <tr>
            <th>Previously Registered Domain</th>
        </tr>
    </thead>
    <tbody>{% for dom in deleted | sort %}
        <tr>
            <td>
                {{ dom | domain_renderer }}
            </td>
        </tr>{% endfor %}
    </tbody>
</table>{% endif %}
<p>
    <a href="{{ unsubscribe_link }}">Unsubscribe</a>
</p>
