.result {
    font-weight: bold;
}

.analysis_tool {
    border: 1px solid silver;
    padding: 2rem;
    text-align: center;
    margin-bottom: 2rem;
}

.lightboxable {
    display: none;
}

.lightboxable .content {
    padding: 1rem 2rem;
}

#thumbnail_box img {
    display: none;
    width: 320px;
    height: 240px;
}
