.example_email {
    text-align: center;
}

.example_email img {
    width: 100%;
    min-width: 350px;
    margin-top: 5px;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
}

input[type="checkbox"] {
    top: 1px;
    position: relative;
}
