.error {
    font-weight: bold;
    color: red;
    padding-bottom: 1.5rem;
}

.searchbox .columns {
    text-align: center;
}

section.description {
    margin-top: 2rem;
}

textarea {
    min-height: 100px;
}

.container {
    max-width: 720px;
}

header {
    text-align: center;
    margin-top: 30%;
}

footer {
    padding-top: 15%;
    margin-top: 0;
}

footer p {
    margin-bottom: 1.5rem;
}

header h1 {
    margin-bottom: 0;
}

a.home_help {
    position: relative;
    top: 0.1rem;
    left: 70px;
    margin-left: -75px;
    width: 70px;
    display: inline-table;
    text-decoration: none;
}

a.home_help:hover,
a.home_help:active {
    text-decoration: underline;
}
