.error {
    font-weight: bold;
    color: red;
    padding-bottom: 1.5rem;
}

.searchbox .columns {
    text-align: center;
}

section.description {
    margin-top: 2rem;
}

textarea {
    min-height: 100px;
}

.container {
    max-width: 720px;
}

header {
    text-align: center;
    margin-top: 30%;
}

footer {
    padding-top: 15%;
    margin-top: 0;
}

footer p {
    margin-bottom: 1.5rem;
}

header h1 {
    margin-bottom: 0;
}

header p {
    font-size: 1.8rem;
    margin-top: 0.2em;
}

.searchbox div.submit {
    margin-left: 0;
}

.searchbox div.submit input {
    padding-left: 2rem;
    padding-right: 2rem;
}

.searchbox div.input_field {
    padding-right: 1rem;
}

.help {
    color: darkgrey;
}