.searchbox .columns {
    text-align: center;
}

section.description {
    margin-top: 2rem;
}

textarea {
    min-height: 100px;
}

.container {
    max-width: 720px;
}

header {
    text-align: center;
    margin-top: 30%;
}

footer {
    padding-top: 15%;
    margin-top: 0;
}

footer p {
    margin-bottom: 1.5rem;
}

header h1 {
    margin-bottom: 0;
}

header p {
    font-size: 1.8rem;
    margin-top: 0.5em;
    margin-bottom: 1.5rem;
}

.searchbox div.submit {
    margin-left: 0;
}

.searchbox div.submit input {
    padding-left: 2rem;
    padding-right: 2rem;
}

.searchbox div.input_field {
    padding-right: 1rem;
}

.help {
    color: darkgrey;
}

#suggestion {
    font-weight: normal;
    cursor: pointer;
}

#suggestion:hover {
    text-decoration: underline;
}

#suggestion:before {
    content: "\02191";
    position: absolute;
    margin-top: -8px;
    margin-left: -10px;
}

@media (min-width: 550px) {
    #suggestion:before {
        content: "\02196";
        margin-top: -5px;
        margin-left: -15px;
    }
}

#suggestion .add_domain {
    font-weight: bold;
}