.error {
    font-weight: bold;
    color: red;
    padding-bottom: 1.5rem;
}

.searchbox {
    padding-top: 10%;
}

.searchbox .columns{
    text-align: center;
}

textarea {
    min-height: 100px;
}

.container {
    max-width: 720px;
}

header,
footer {
    text-align: center;
}

header {
    margin-top: 10%;
}

footer {
    font-size: 1.25rem;
    padding-top: 5%;
}

footer p {
    margin-bottom: 1.5rem;
}
