.report,
.report tr.domain-row {
    display: none;
}

.report tr.resolved,
.report tr.error,
.report tr.displayed {
    display: table-row;
}

.domains {
    margin-bottom: 3rem;
}

.exports {
    float: right;
    padding-top: 0.7rem;
}
