.report,
.report tr.domain-row {
    display: none;
}

.report tr.resolved,
.report tr.error,
.report tr.displayed {
    display: table-row;
}

.sub_nav {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.exports {
    float: right;
    padding-top: 0.7rem;
}

.domains h5 {
    display: inline;
    white-space: nowrap;
}

.ico {
    margin-bottom: -2px;
    height: 22px;
    margin-right: 2px;
    opacity: 0.5;
}

.domain_nav {
    float: left;
    margin-right: 15px;
}

.ico:hover {
    opacity: 1;
}

tr td.tools a {
    display: none;
}

tr.resolved td.tools a {
    display: inline;
}
