.report,
.report tr.domain-row {
    display: none;
}

.report tr.resolved,
.report tr.error,
.report tr.displayed {
    display: table-row;
}

.sub_nav {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.exports {
    float: right;
    padding-top: 0.7rem;
}

.domains h5 {
    display: inline;
}

.domain_nav {
    float: left;
    margin-right: 15px;
    white-space: nowrap;
}

.error .tools {
    font-weight: normal;
}

.domain_nav .ico {
    margin-left: 2px;
}

.progress {
    text-align: center;
    padding-top: 1rem;
}

.result_highlight {
    font-weight: bold;
}

.result_highlight.counter {
    font-size: 130%;
    color: #1eaedb;
}

.result_highlight.counter.error {
    color: red;
}

#error_summary {
    font-size: 60%;
    display: none;
}

.re-search {
    margin-bottom: 0;
    clear: both;
}

.search_result {
    margin-bottom: 0;
}

.re-search input[type="submit"] {
    padding: 0 15px;
}

.re-search div.buttons {
    margin-left: 1rem;
}

.report-tabs {
    clear: both;
}

.report-tabs .report {
    display: table;
}

.report-tabs tr.errored,
.report-tabs tr.unresolved {
    display: table-row;
}

.tab {
    float: left;
}

.tab-label {
    display: block;
    cursor: pointer;
    margin: 1rem 5rem 1rem 0;
    opacity: 0.5;
    color: #1eaedb;
    font-size: 130%;
    border-bottom: 4px solid transparent;
}

.tab-label:hover {
    opacity: 0.75;
    border-bottom: 1px solid #1eaedb;
    transition: border-bottom 0.15s;
    transition: opacity 0.15s;
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 4rem;
    }
}

@media screen and (max-width: 500px) {
    .tab-label {
        font-size: 110%;
        margin-right: 1em;
    }

    h1 {
        font-size: 3rem;
    }

    .progress {
        font-size: 90%;
    }

    .subscribe_wrapper {
        width: 150%;
    }
}

@media screen and (max-width: 550px) {
    .six.columns {
        width: 48%;
    }

    th, td {
        padding: 0.2rem;
    }

    .ed {
        display: block;
        font-size: 75%;
    }
}

.tab-content {
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
}

@media screen and (max-width: 399px) {
    .tab-content {
        padding-left: 20px;
        padding-right: 20px;
        width: 90%;
    }

    .progress {
        font-size: 80%;
    }
}

.tab-switch {
    display: none !important;
}

.tab-switch:checked + .tab-label {
    opacity: 1;
    border-bottom: 4px solid #1eaedb;
}

.tab-switch:checked + label + .tab-content {
    display: block;
}

footer {
    clear: both;
}
