header h1 {
    margin-bottom: 3rem;
}

.summary {
    display: inline;
    padding: 0.5rem 2rem;
    border: 1px solid;
}

.summary.okay {
    color: rgb(0, 255, 0);
    border-color: rgb(0, 255, 0);
}

.summary.error {
    background-color: rgb(255, 128, 128);
    color: rgb(255, 0, 0);
    border-color: rgb(255, 0, 0);
}

.details {
    margin-top: 3rem;
}

.details .error {
    color: rgb(255, 0, 0);
    font-weight: bold;
    text-decoration: underline;
}
