{% extends "layout.html" %}
{% block title %}Domain name permutation service{% endblock %}
{% block head %}
        <link rel="stylesheet" type="text/css" href="/static/index.min.css">
{% endblock %}
{% block header %}
            <h1>DNS Twister</h1>
            <h2>Domain name permutation service</h2>
{% endblock %}
{% block body %}
{% if error is not none %}
        <section class="error">
            Error: {{ error }}
        </section>
{% endif %}
        <section>
            <form action="/report" method="post" class="pure-form pure-form-stacked">
                <textarea name="domains" placeholder="Enter one domain per line - eg: www.example.com" class="u-full-width"></textarea>
                <br />
                <input type="submit" value="Submit" class="button-primary" />
            </form>
        </section>
{% endblock %}
