<!DOCTYPE html>
<html>
    <head>
        <title>DNS Twister | {% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/static/layout.css">
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <header>
            {% block header %}
            {% endblock %}
        </header>
        {% block body %}
        {% endblock %}
        <footer>
            <hr />
            <p>
                DNS Twister was created by
                <a href="https://about.me/robertwallhead">Robert Wallhead</a>
                and takes advantage of the excellent
                <a href="https://github.com/elceef/dnstwist">dnstwist</a>
                libary.
            </p>
            <p>
                You can
                <a href="https://github.com/thisismyrobot/dnstwister/issues">report bugs</a>
                if you're keen and the Apache 2.0 licensed source code
                <a href="https://github.com/thisismyrobot/dnstwister">is available on GitHub</a>.
            </p>
        </footer>
    </body>
</html>
