<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>DNS Twister | {% block title %}{% endblock %}</title>
        <meta name="description" content="Domain name permutation engine, based on dnstwist.">
        <meta name="author" content="Robert Wallhead">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="//fonts.googleapis.com/css?family=Raleway:300,400" rel="stylesheet" type="text/css">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <div class="section">
            <div class="container">
                <header>
                    {% block header %}
                    {% endblock %}
                </header>
                {% block body %}
                {% endblock %}
                <footer>
                    <p>
                        DNS Twister was created by
                        <a href="https://about.me/robertwallhead">Robert Wallhead</a>
                        and takes advantage of the excellent
                        <a href="https://github.com/elceef/dnstwist">dnstwist</a>
                        library.
                    </p>
                    <p>
                        You can
                        <a href="https://github.com/thisismyrobot/dnstwister/issues">report bugs</a>
                        if you're keen and the source code
                        <a href="https://github.com/thisismyrobot/dnstwister">is available on GitHub</a>. <a href="/privacy">Privacy statement</a>.
                    </p>
                </footer>
            </div>
        </div>

        <!-- Analytics -->
        <script type="text/javascript">
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-4080602-5', 'auto');
          ga('send', 'pageview');
        </script>
    </body>
</html>
