<!DOCTYPE html>
<html>
    <head>
        <title>DNS Twister | {% block title %}{% endblock %}</title>
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <header>
            {% block header %}
            {% endblock %}
        </header>
        {% block body %}
        {% endblock %}
        <footer>
            <hr />
            <p>
                DNS Twister takes advantage of the excellent
                <a href="https://github.com/elceef/dnstwist">dnstwist</a>
                libary.
            </p>
                You can
                <a href="https://github.com/thisismyrobot/dnstwister/issues">report bugs</a>
                if you're keen and the Apache 2.0 licensed source code
                <a href="https://github.com/thisismyrobot/dnstwister">is available on GitHub</a>.
            </p>
        </footer>
    </body>
</html>
