{% extends "layout.html" %}
{% block title %}Report{% endblock %}
{% block head %}
        <script type="text/javascript" src="{{ url_for('static', filename='report.min.js') }}"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='report.min.css') }}">
{% endblock %}
{% block header %}
        <h1>dnstwister report</h1>
{% endblock %}
{% block body %}
        <section class="domains">
            {% for domain, hex in atoms.items() %}
                {{ domain }}
                <a href="/atom/{{ hex }}"><img class="feed_ico" src="/static/feed.png"/></a>
                <a href="/email/subscribe/{{ hex }}">email</a>
            {% endfor %}
            <br />
            <a href="/">new report</a>
        </section>
        <section class="progress">
            <p>
                Attempting to resolving domains (up to 60 seconds per domain):
                <span class="resolved_count">0</span>/<span class="resolved_total"></span>
            </p>
        </section>
        <section>
            <button id="show_all">Show/hide unresolved domains</button>
            {% if search %}
                <section class="exports">
                    export:
                    {% for title, path in exports.items() %}
                        <a href="/search/{{ search }}/{{ path }}">{{ title }}</a>
                    {% endfor %}
                </section>
            {% endif %}
        </section>
        <section>
            <table class="report u-full-width">
                <thead>
                    <tr>
                        <th>Domain</th>
                        <th>Tweak</th>
                        <th>Type</th>
                        <th>IP</th>
                    </tr>
                </thead>
                <tbody>
                    {% for domain, data in reports.items() %}
                        {% for entry in data.fuzzy_domains %}
                            <tr class="domain-row">
                                <td>{{ domain }}</td>
                                <td>{{ entry['domain-name'] }}</td>
                                <td>{{ entry.fuzzer }}</td>
                                <td class="resolvable" data-hex="{{ entry.hex }}" data-ip="{{ entry.ip }}">...</td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        </section>
{% endblock %}
