{% extends "layout.html" %}
{% block title %}Whois{% endblock %}
{% block head %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='whois.min.css') }}">
{% endblock %}
{% block header %}
        <h1>whois report</h1>
{% endblock %}
{% block body %}
        <section>
            <table class="report u-full-width">
                <thead>
                    <tr>
                        <th>Field</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    {% for field, value in whois_data.items() %}
                        <tr>
                            <td>{{ field }}</td>
                            <td>{{ value }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
{% endblock %}
