.error {
    font-weight: bold;
    color: red;
    padding-bottom: 1em;
}

header {
    margin-top: 5%;
}

/* Skeleton CSS overrides */
textarea {
    min-height: 100px;
}

.container {
    max-width: 720px;
}
