.report,
.report tr.domain-row {
    display: none;
}

.report tr.resolved,
.report tr.error,
.report tr.displayed {
    display: table-row;
}

@media (max-width:680px) {
    .report {
        width: 100%;
    }
}
